<script>

</script>
<style lang="stylus" global>
	@import '../helpers/styles';

	main
		font-family Acrom, Helvetica, sans-serif
		color $black
		font-size 13px
		line-height 24px
		position relative
		min-width $innerWidthMobile

		+above(1024px)
			font-size 16px
			line-height 28px
			min-width $innerWidth

	.title
		font-family Acrom
		font-style normal
		font-weight bold
		letter-spacing -0.06em
		color $black

		&_h1
			font-size 26px
			line-height 32px
			text-align center
			padding 0 32px

			+above(1024px)
				font-size 48px
				line-height 56px
				text-align left
				padding 0

		&_h3
			font-size 20px
			line-height 28px
			padding 0 32px

			+above(1024px)
				font-size 36px
				line-height 48px
				padding 0

	.text
		text-align center
		padding 0 32px

		+above(1024px)
			text-align: left
			padding 0

	.mobile
		+above(1024px)
			display none !important

	.desktop
		+below(1023px)
			display none !important


</style>

<main>
	<slot/>
</main>
