<script>
    import { onDestroy } from 'svelte';
    import {step, appCookies} from '../store';
    import {quintOut} from 'svelte/easing';
    import {slide} from 'svelte/transition';
    import Field from '../components/Field';
    import Button from '../components/Button';
    import Step_1 from '../components/Step_1';
    import Step_2 from '../components/Step_2';
    import Step_3 from '../components/Step_3';
    import Step_4 from '../components/Step_4';
    import Step_5 from '../components/Step_5';
    import Cookies from "../components/Cookies.svelte";
    import Personal from "../components/Personal.svelte";
    import Notification from "../components/Notification.svelte";

    function scrollOut(node) {
        return {
            duration: 200,
            easing: quintOut,
            css: (t, u) => `opacity: ${t}`
        };
    }

    function scrollIn(node) {
        return {
            delay: 100,
            duration: 200,
            easing: quintOut,
            css: (t, u) => `transform: translateX(${u * 130}%)`
        };
    }

    let isVisible;
    let wrapClass = 'wrap';
    let contentClass = 'content';

    const stepsUnsub = step.subscribe(({ current }) => {
        isVisible = current !== 6 && current !== 7;
        wrapClass = getWrapClass(current);
    });


    function getWrapClass(currentStep) {
        let classNames = 'wrap'
        classNames += currentStep === 6 || currentStep === 7
            ? ' plain'
            : '';

        classNames += currentStep === 5
            ? ' final'
            : '';

        return classNames;
    }

    function isFinal() {
        return $step.current === 5;
    }

    onDestroy(stepsUnsub);

</script>

<svelte:head>
    <title>Gemotest</title>
</svelte:head>

<div class="page scores">
    <div class="page__inner">
        <div class={wrapClass}>
            <div class="header" class:visible={isVisible}>
                <div class="header__img"></div>
            </div>
            <div class={contentClass}>
                <div class="content__inner">
                    {#if $step.current === 1}
                        <div class="flip" in:scrollIn out:scrollOut>
                            <Step_1/>
                        </div>
                    {/if}
                    {#if $step.current === 2}
                        <div class="flip" in:scrollIn out:scrollOut>
                            <Step_2/>
                        </div>
                    {/if}
                    {#if $step.current === 3}
                        <div class="flip" in:scrollIn out:scrollOut>
                            <Step_3/>
                        </div>
                    {/if}
                    {#if $step.current === 4}
                        <div class="flip" in:scrollIn out:scrollOut>
                            <Step_4/>
                        </div>
                    {/if}
                    {#if $step.current === 5}
                        <div class="flip" in:scrollIn out:scrollOut>
                            <Step_5/>
                        </div>
                    {/if}
                    {#if $step.current === 6}
                        <div class="docs" in:scrollIn out:scrollOut>
                            <Cookies/>
                        </div>
                    {/if}
                    {#if $step.current === 7}
                        <div class="docs" in:scrollIn out:scrollOut>
                            <Personal/>
                        </div>
                    {/if}
                </div>

                {#if $step.current !== 6 && $step.current !== 7}
                    <div class="scores__footer desktop">
                        {#if !$appCookies.weUseCookies && $step.current !== 4}
                            <Notification key="weUseCookies"
                                          text="Мы обрабатываем куки. <i>Что это такое?</i>"/>
                        {:else if (!$appCookies.personalData && $step.current === 4)}
                            <Notification key="personalData"
                                          text="При отправке соглашаюсь с <i> Политикой ПД</i>"/>
                        {:else}
                            <div class="scores__credits">
                                <div class="scores__credits-inner">
                                    <a href="http://localby.io/">Localby.io</a> <a href="http://gemotest.ru/" class="span"> для Гемотест</a>
                                </div>
                            </div>
                        {/if}
                    </div>
                {/if}
            </div>
        </div>

        {#if $step.current !== 6 && $step.current !== 7}
            <div class="scores__footer mobile">
                {#if !$appCookies.weUseCookies && $step.current !== 4}
                    <Notification key="weUseCookies"
                                  text="Мы обрабатываем куки. <i>Что это?</i>"/>
                {:else if (!$appCookies.personalData && $step.current === 4)}
                    <Notification key="personalData"
                                  text="Я согласен/-на с <i> Политикой ПД</i>"/>
                {:else}
                    <div class="scores__credits">
                        <div class="scores__credits-inner">
                            <a href="http://localby.io/">Localby.io</a> <a href="http://gemotest.ru/" class="span"> для Гемотест</a>
                        </div>
                    </div>
                {/if}
            </div>
        {/if}
    </div>
</div>

<style lang="stylus" global>
    @import '../helpers/styles'
    @import '../helpers/v1'

    +below(1023px)
        .page
            &__inner
                position relative
                padding 0

        .wrap
            min-height: 472px
            align-items center
            justify-content center
            padding-bottom 56px

            &.plain
                padding-bottom 0

        .header
            padding 0

            &__img
                border-radius 50%
                width: 100px
                height: 100px

        .content
            width: 100%

        .flip
            justify-content flex-start

        .scores
            background none

            .header
                flex 0 0 auto
                min-height 0
                transition none

                &__img
                    background-image: url(./assets/images/doc_md.jpg)

            .content
                min-height: 336px
                flex: 0 1 336px
                padding 0 32px
                transition all .3s ease-out

            .plain .content
                padding 0 32px

            .final .content
                min-height 134px
                flex-basis 134px

            &__title
                margin 0
                padding 24px 0 16px

                .plain .content ^[0]__info  &
                    padding 24px 0 16px


            &__text
                font-size 12px
                line-height 19px
                color #999
                margin-bottom 26px

            &__footer
                width auto
                position: absolute
                bottom: 24px
                left: 32px
                right: 32px
                padding 0

            &__back
                padding 9px 0 24px
                border 0
                display flex
                justify-content center
                z-index 2

        .docs
            max-width 256px
            margin 0 auto

</style>
