.page
    height: 100%
    display: flex

    +above(1024px)
        justify-content: center
        align-items: center

    &__inner
        flex 1 0 320px
        width: 100%
        height: 100%
        max-width 1024px
        padding 16px
        overflow hidden

        +above(1024px)
            flex 0 1 1024px
            max-height 720px
            padding 48px

.wrap
    position: relative
    background: #fff
    border-radius: 4px
    height: 100%
    display: flex
    flex-direction: column
    overflow-y auto

    +above(1024px)
        flex-direction: row
        padding 0

.header
    flex 0 0 auto
    display: none
    z-index: 1
    padding 8px 8px 16px

    +above(1024px)
        padding 0

    &__img
        width: 100%
        height: 100%

    &.visible
        display: block

    +above(1024px)
        display: block

.content
    flex 1 1 auto
    height: 100%
    overflow hidden
    display: flex
    flex-direction column
    justify-content: space-between

    &__inner
        position: relative
        display: flex
        flex-direction column
        flex 1 0 auto

.docs
    height: 100%

.flip
    display: flex
    flex-direction: column
    justify-content: space-between
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0

.scores
    background-color #34955F
    background-image linear-gradient(193.59deg, #F26531 0%, #33945D 100%);
    background-repeat no-repeat
    text-align center
    height: 100%

    .header
        position: relative
        flex 1 0 88px
        min-height 88px
        transition flex-basis .1s linear
        z-index 2

        @media screen and (max-height: 535px)
            display: none

        &__img
            background-color: #acccd8
            background-image url(./assets/images/doc_xs.jpg)
            background-size: cover
            background-repeat: no-repeat
            background-position: 50% 50%

            +above(1024px)
                border-radius: 4px 0 0 4px
                background-image url(./assets/images/doc.jpg)

        +above(1024px)
            position: sticky
            top 0
            flex 0 0 464px
            max-width 100%
            max-height 100%
            height: 100%
            border-radius 4px 0 0 4px

    .content
        min-height: 416px
        flex: 0 1 416px
        padding 0 16px 16px

        +above(1024px)
            flex-basis 100%
            padding 0 48px 40px

        @media screen and (max-height: 535px)
            flex-grow 1

    .plain .content
        flex: 1 1 auto
        overflow-y auto
        padding 16px 16px 0

        &:before
        &:after
            content ''
            position: absolute
            left: 16px
            right: 16px
            height: 24px
            z-index 1

            @media screen and (max-height: 480px)
                content none

        &:before
            top: 0
            background-image linear-gradient(rgba(#fff, 1) 0%, rgba(#fff, 0) 100%)

        &:after
            bottom: 65px
            background-image linear-gradient(rgba(#fff, 0) 0%, rgba(#fff, 1) 100%)

            +above(1024px)
                bottom: 113px

        +above(1024px)
            padding 0 48px

            &:before
            &:after
                left: 48px
                right: 48px
                height: 48px


    &__title
        font-weight bold
        font-size 24px
        line-height 28px
        padding 14px 0 27px
        letter-spacing: -0.05em
        margin-top auto

        +above(1024px)
            font-size 36px
            line-height 40px
            padding 48px 0 32px
            margin-top 0

        @media screen and (max-height: 535px)
            margin-top 16px

        ^[0]__info &
            padding-top 8px
            margin-top 0

            +above(1024px)
                padding-top 48px

    &__subtitle
        font-weight: bold
        font-size: 18px
        line-height: 24px
        letter-spacing: -0.05em
        padding 16px 0

    &__text
        font-family Museo-Sans-Cyrl
        font-weight normal
        font-size 13px
        line-height 20px
        text-align center
        margin-bottom 35px

        +above(1024px)
            font-size 20px
            line-height 28px

    &__p
        font-weight normal
        font-size 13px
        line-height 20px

        & + &
            margin-top 10px

    &__form
        padding 40px 0 16px
        width 100%
        max-width 512px
        margin 0 auto

    &__section
        flex 1 0 auto
        display flex
        justify-content center
        align-items center
        text-align left
        height 100%

    &__message
        font-weight bold
        font-size 24px
        line-height 32px
        text-align center

    &__longread
        display: flex
        flex-direction column
        height: 100%

    &__info
        flex: 1 1 auto
        text-align left
        padding-bottom 32px

    &__footer
        flex 0 0 64px
        margin-top auto
        padding 32px 0 0
        display flex
        flex-direction column
        width 100%

        +above(1024px)
            flex-basis 72px
            padding-top 40px

    &__credits
        position relative
        font-weight normal
        font-size 11px
        line-height 16px
        height 32px
        display: flex
        justify-content: center
        align-items center

        &-inner
            text-align center

            a
                color: #aaa

                &.span
                    color rgba(#aaa, .6)

    &__back
        position: sticky
        bottom: 0
        background: #fff
        min-height 65px
        flex 0 0 65px
        border-top 1px solid #ddd
        padding 16px 0 18px
        margin-top auto

        +above(1024px)
            flex-basis 113px
            padding 40px 0 42px

.field
    & + &
        margin-top 16px

        +above(1024px)
            margin-top 16px

    &__input
        font-family Museo-Sans-Cyrl
        display block
        width 100%
        background none
        border-radius 4px
        height 48px
        padding 0 16px
        font-weight normal
        font-size 14px
        line-height 20px
        border 1px solid #ddd
        box-shadow none

        +above(1024px)
            height 64px
            font-size 16px
            padding 0 24px

    &__textarea
        font-family Museo-Sans-Cyrl
        display block
        width 100%
        height 112px
        resize none
        background #fff
        border-radius 4px
        padding 9px 32px 7px 16px
        font-size 14px
        line-height 20px
        border 1px solid #ddd
        box-shadow none

        +above(1024px)
            height 144px
            font-size 16px
            line-height 24px
            padding 16px 24px

    &__submit
        font-family Acrom, Helvetica, sans-serif
        display flex
        justify-content: center
        align-items: center
        width 100%
        background #F2C22F
        border-radius 4px
        height 48px
        padding 0 16px
        font-weight bold
        font-size 14px
        line-height 16px
        letter-spacing: -0.05em
        color $black

        +above(1024px)
            height 64px
            padding 0 24px
            font-size 20px

        &-arrow
            margin-left auto
            width 11px
            height 12px

            +above(1024px)
                width: 17px
                height: 16px

        &-send
            display block
            margin-right 13px
            width 20px
            height 18px

.text-green
    color $green
