acrom = 'Acrom'
inter = 'Inter'
museo = 'Museo-Sans-Cyrl'

font-face($family, $filename)
	@font-face
		font-family $family
		src url('assets/fonts/' + $filename + '.woff2') format('woff2'),
			url('assets/fonts/' + $filename + '.woff') format('woff')
		{block}

+font-face(museo, 'Museo-Sans-Cyrl')
	font-style normal
	font-weight normal

+font-face(acrom, 'Acrom-Regular')
	font-style normal
	font-weight normal

+font-face(acrom, 'Acrom-Medium')
	font-style normal
	font-weight 500

+font-face(acrom, 'Acrom-Bold')
	font-style normal
	font-weight bold

+font-face(acrom, 'Acrom-ExtraBold')
	font-style normal
	font-weight 800

+font-face(acrom, 'Acrom-Thin')
	font-style italic
	font-weight 100

+font-face(acrom, 'Acrom-Light')
	font-style italic
	font-weight 300

+font-face(inter, 'Inter-Regular')
	font-style normal
	font-weight normal

+font-face(inter, 'Inter-Italic')
	font-style italic
	font-weight normal

+font-face(inter, 'Inter-Medium')
	font-style normal
	font-weight 500

+font-face(inter, 'Inter-MediumItalic')
	font-style italic
	font-weight 500

+font-face(inter, 'Inter-SemiBold')
	font-style normal
	font-weight 600

+font-face(inter, 'Inter-SemiBoldItalic')
	font-style italic
	font-weight 600

+font-face(inter, 'Inter-Bold')
	font-style normal
	font-weight 700

+font-face(inter, 'Inter-BoldItalic')
	font-style italic
	font-weight 700

+font-face(inter, 'Inter-ExtraBold')
	font-style normal
	font-weight 800

+font-face(inter, 'Inter-ExtraBoldItalic')
	font-style italic
	font-weight 800

+font-face(inter, 'Inter-Black')
	font-style normal
	font-weight 900

+font-face(inter, 'Inter-BlackItalic')
	font-style italic
	font-weight 900
