<script>
	import { backStep } from "../store";

	export let text;

	function onClick(event) {
		event.stopPropagation();
		event.preventDefault();

		backStep();
	}

</script>

<div class="back" on:click={ onClick }>
	{ text }
</div>

<style lang="stylus">
	@import '../helpers/styles'

	.back
		position: relative
		font-family: Museo-Sans-Cyrl
		height 32px
		background $yellow
		border-radius 4px
		font-size: 12px
		line-height: 16px
		display: flex
		align-items: center
		color: $black
		width 256px
		padding 0 16px
		cursor: pointer

		+above(1024px)
			width: 100%
			justify-content center

</style>
