<script>
	export let href;
	export let type = yellow;
	export let _class = '';
</script>

<style lang="stylus">
	@import '../helpers/styles'

	.button
		font-family: Inter
		font-style: normal
		font-weight: 600
		font-size: 13px
		text-align center
		color $black
		border-radius: 4px
		background $yellow
		height: 48px
		display flex
		vertical-align: top
		align-items center
		justify-content center
		padding 0 16px

		+above(1024px)
			display: inline-flex
			justify-content flex-start
			font-size: 16px
			height: 64px

		&.small
			height: 48px

		&.yellow
			background $yellow
			color $black

		&.green
			background $green
			color #fff

		&.fill
			justify-content: center
			width: 100%

		&.w240
			min-width: 240px
			flex 1 0 240px
			justify-content: center

</style>

<a {href} class="button {type} {_class}">
	<slot></slot>
</a>
