<script>
  import Back from "./Back.svelte";
</script>

<div class="scores__longread">
  <div class="scores__info">
    <h3 class="scores__title">
      Как Localby<br>использует куки
    </h3>
    <p class="scores__p">
      Localby (или сервисы ИП Крупин А.В.), как и большинство сайтов в интернете, использует cookie: это дает нам
      возможность анализировать данные и понимать, что мы делаем не так и куда развивать наши продукты.
    </p>
    <div class="scores__subtitle">Что такое cookie?</div>
    <p class="scores__p">
      Cookie — это фрагмент данных сайта, на который вы зашли и который сохраняется на вашем устройстве.
    </p>
    <div class="scores__subtitle">Какие cookie мы<br>используем и<br>с какой целью?</div>
    <p class="scores__p">
      Мы используем cookie для нескольких систем сбора статистики. На основе этих данных мы понимаем размер нашей
      аудитории. Мы осуществляем сбор статистики через партнеров — Google Analytics, Yandex Metrika, Facebook Pixel, и
      пиксель Вконтакте.
    </p>
    <p class="scores__p">
      Cookie для идентификации: мы используем их, чтобы хранить информацию о том, что вы уже сделали некоторые действия,
      и не предлагать вам их повторно.
    </p>
    <div class="scores__subtitle">Что делать, если вы<br>не хотите использовать<br>cookie?</div>
    <p class="scores__p">
      Вы можете отключить их в настройках безопасности вашего браузера.
    </p>
    <p class="scores__p">
      В случае если вы решите отключить cookie, часть функций сервисов Loсalby перестанут быть вам доступны или могут
      работать непредсказуемо.
    </p>
  </div>

  <div class="scores__back">
    <Back text="Вернуться к оценке обслуживания →"/>
  </div>
</div>

<style lang="stylus">

</style>
