<script>
	export let _class;
	export let name;
	export let placeholder;
	export let submit = null;
</script>

<style lang="stylus">
	@import '../helpers/styles'

	.field
		width: 100%
		max-width 512px
		height: 56px
		display flex
		justify-content space-between
		align-items center
		border: 2px solid #fff
		border-radius: 4px
		padding 0 6px 0 16px
		background: #fff

		+above(1024px)
			max-width 100%

		&.small
			+above(1024px)
				height: 48px

		&.brd-yellow
			border-color $yellow

		&.brd-grey
			border-color rgba(56, 29, 75, 0.1)

		+above(1024px)
			height: 64px
			background: #fff
			display flex
			flex-direction row
			justify-content space-between
			padding 0 6px 0 22px

		&.header-join
			+below(1023px)
				border-color #fff

		&.categories-join
			+below(1023px)
				border-color rgba(56, 29, 75, 0.1)


	.input
		font-family: Inter;
		font-style: normal;
		font-weight: 600;
		font-size: 12px;
		height: 48px
		color $black
		width: 100%
		background none

		&::placeholder
			color $black
			opacity: 1

		+above(1024px)
			font-size: 16px

	.submit
		background $yellow
		height: 40px
		font-family: Inter
		font-style: normal
		font-weight: 600
		font-size: 13px
		color $black
		padding 0 22px
		border-radius: 4px
		white-space nowrap

		+above(1024px)
			font-size: 16px
			height: 48px

</style>


<div class="field {_class}">
	<input type="text" name="{name}" class="input" placeholder={placeholder}>

	{#if submit}
		<button type="submit" class="submit">{submit}</button>
	{/if}
</div>
