<script>
	import { nextStep, hideNotification } from "../store";

	export let key;
	export let text;

	const steps = {
		weUseCookies: 6,
		personalData: 7,
	};

	function onClick(event) {
		event.stopPropagation();
		event.preventDefault();

		nextStep(steps[key]);
	}

	function onClose(event) {
		event.stopPropagation();
		event.preventDefault();

		hideNotification.update(() => key);
	}
</script>

<div class="notification" on:click={onClick}>
	<div class="notification__label"><div>{@html text }</div></div>
	<button
		on:click={onClose}
		class="notification__close">
		<img src="./assets/icons/cross.svg" class="svg" alt="">
	</button>
</div>

<style lang="stylus">
	@import '../helpers/styles'

	.notification
		font-family Museo-Sans-Cyrl
		height 32px
		background rgba(0, 0, 0, 0.04)
		color rgba(255, 255, 255, 0.3)
		border-radius 4px
		display flex
		align-items center
		justify-content space-between
		padding 0 16px
		min-width 240px
		max-width 256px
		width 100%
		margin 0 auto
		cursor: pointer

		+above(1024px)
			max-width 512px

		&__label
			font-style normal
			font-weight normal
			font-size 12px
			line-height 16px
			color: #aaa
			display flex
			align-items center

		&__close
			width 12px
			height 12px
			cursor pointer

			.svg
				width 8px
				height 8px
				fill rgba(255, 255, 255, 0.2)

		& :global(i)
			font-style normal
			font-weight 400
			color $black

</style>
