<script>
  import Back from "./Back.svelte";
</script>
<div class="scores__longread">
  <div class="scores__info">
    <h3 class="scores__title">
      Как Localby<br>обрабатывает<br>персональные<br>данные
    </h3>
    <p class="scores__p">
      В некоторых случаях Localby (ИП Крупин А.В., если проще — «мы») получает от читателей персональные данные и
      обрабатывает их.
    </p>
    <div class="scores__subtitle">Термины, которые мы<br>используем в этом<br>документе</div>
    <p class="scores__p">
      Пользоатель — любое физическое лицо, которое использует любой продукт, предоставляемый Localby.
    </p>
    <p class="scores__p">
      Данные пользователя — любая информация, которая известна Localby о пользователе.
    </p>
    <p class="scores__p">
      Персональные данные — любая информация, связанная с пользователем.
    </p>
    <p class="scores__p">
      Обработка — сбор, хранение, изменение, предоставление доступа, передача персональных данных пользователя.
    </p>
    <p class="scores__p">
      Localby — любой публичный сервис ИП Крупин А.В., доступный по адресам localby.io, localby.ru, locl.by, rspn.se,
      включая любые субдомены.
    </p>
    <div class="scores__subtitle">Основные принципы</div>
    <p class="scores__p">
      Мы обеспечиваем конфиденциальность персональных данных и применяем все необходимые организационные и технические
      меры по защите персональных данных. В ряде случаев для обработки персональных данных Localby работает с партнерами
      и передает им эти данные. В этих случаях мы следим за соблюдением соответствующих мер безопасности. Это значит,
      что мы не передаем данные партнерам, если сомневаемся в их принципах хранения данных или если знаем, что эти
      принципы серьезно отличаются от тех, которые описаны в этом документе.
    </p>
    <div class="scores__subtitle">Категории персональных<br>данных, которые мы<br>обрабатываем</div>
    <p class="scores__p">
      Идентификация: имя, фамилия, IP-адрес.
    </p>
    <p class="scores__p">
      Контактные данные: адрес электронной почты и номер телефона пользователя.
    </p>
    <div class="scores__subtitle">Зачем и почему мы это<br>делаем</div>
    <p class="scores__p">
      Чтобы пользователи могли получать наши рассылки (например, просьбу оставить отзыв).
    </p>
    <p class="scores__p">
      Чтобы мы могли собирать статистику.
    </p>
    <p class="scores__p">
      Данные, которые мы получаем от вас (имя и фамилия в чатах, адрес почты и номер телефона для рассылки), мы
      используем только на основе вашего согласия с принципами обработки данных.
    </p>
    <div class="scores__subtitle">Кто может получить<br>доступ к персональным<br>данным</div>
    <p class="scores__p">
      Мы передаем персональные данные нашим партнерам, соблюдая при этом необходимые меры безопасности. Например, мы
      передаем данные сервисам рассылок электронных писем. Или системам аналитики. Мы также можем предоставить данные по
      запросу правоохранительных органов Российской Федерации.
    </p>
    <div class="scores__subtitle">Где и как<br>обрабатываются<br>персональные данные</div>
    <p class="scores__p">
      Персональные данные обрабатываются на территории Российской Федерации, но в отдельных случаях могут быть переданы
      и обработаны в иных государствах. Передача данных за пределы Российской Федерации может случиться, только при
      условии, что обеспечивается достаточный уровень защиты данных.
    </p>
    <p class="scores__p">
      Персональные данные, которые позволяют нам проводить анализ доступности сервисов, мы храним один год.
    </p>
    <p class="scores__p">
      Персональные данные, которые нужны для работы чатов и других сервисов, мы храним, пока вы сделаете запрос на
      удаление. Если вы хотите, чтобы мы удалили такие данные, напишите нам письмо, и мы удалим ваш профиль.
    </p>
    <p class="scores__p">
      Персональные данные, которые храним мы, не используются для того, чтобы что-либо и где-либо персонализировать
      (юридическим языком: мы не принимаем автоматических решений и ничего и никого не профилируем на основе этих
      данных).
    </p>
    <div class="scores__subtitle">На что имеют право<br>пользователи</div>
    <p class="scores__p">
      Пользователя имеют возможность исправить свои персональные данные, если они неполны и (или) неправильны.
    </p>
    <p class="scores__p">
      Пользователи имеют право потребовать удалить свои персональные данные.
    </p>
    <p class="scores__p">
      Если пользователь считает, что его права и интересы нарушены, он может подать нам претензию. Мы сделаем все
      возможное, чтобы исправить ситуацию. Для этого необходимо написать нам письмо на адрес privacy@localby.io.
    </p>
    <div class="scores__subtitle">Этот документ может<br>изменяться</div>
    <p class="scores__p">
      Мы вправе в любой момент в одностороннем порядке изменить принципы, описанные выше. Но не секретным образом — мы
      будем предупреждать об этом пользователей не позже чем за месяц до вступления, прямо на этой странице.
    </p>
  </div>

  <div class="scores__back">
    <Back text="Вернуться к отправке контактов →"/>
  </div>
</div>
