<script>
    import {nextStep} from '../store';

    function onClick(value) {
        nextStep(5);
    }
</script>

<div class="scores__title">
    Вам понравилось<br>в Гемотест?
</div>
<p class="scores__text">
    Оцените обслуживание<br>в медицинском отделении!
</p>
<div class="contacts">
    <div class="contacts__form">
        <div class="field">
            <input type="text" class="field__input" placeholder="Электронная почта ...">
        </div>
        <div class="field">
            <input type="text" class="field__input" placeholder="Телефон ...">
        </div>
        <div class="field">
            <button type="submit" class="field__submit" on:click={() => onClick()}>
                <svg class="field__submit-send" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none">
                    <use xlink:href="./assets/icons/send.svg#1"></use>
                </svg>Отправить контакты<svg class="field__submit-arrow" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use class="mobile" xlink:href="./assets/icons/arrow.svg#right"></use>
                    <use class="desktop" xlink:href="./assets/icons/arrow.svg#right_l"></use>
                </svg>
            </button>
        </div>
    </div>
</div>

<style lang="stylus">
    @import '../helpers/styles'

    .contacts
        margin 0 auto
        width: 100%
        max-width 256px

        +above(1024px)
            max-width 512px

</style>
