<script>
    import { nextStep } from '../store';

    function onClick(value) {
        nextStep(2);
    }
</script>
<div class="scores__title">
    Вам понравилось<br>в Гемотест?
</div>
<p class="scores__text">
    Оцените обслуживание<br>в медицинском отделении!
</p>

<div class="reviews">
    <div class="reviews__item">
        <span class="reviews__icon">
          <img src="./assets/icons/angry-emoji.svg" alt="">
        </span>
        <span class="reviews__link">
          Нет, были проблемы!
        </span>
        <svg class="reviews__arrow" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use class="mobile" xlink:href="./assets/icons/arrow.svg#right"></use>
            <use class="desktop" xlink:href="./assets/icons/arrow.svg#right_l"></use>
        </svg>
    </div>
    <div class="reviews__item">
        <span class="reviews__icon">
          <img src="./assets/icons/happy-emoji.svg" alt="">
        </span>
        <span class="reviews__link">
          Всё нормально
        </span>
        <svg class="reviews__arrow" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use class="mobile" xlink:href="./assets/icons/arrow.svg#right"></use>
            <use class="desktop" xlink:href="./assets/icons/arrow.svg#right_l"></use>
        </svg>
    </div>
    <div class="reviews__item" on:click={() => onClick(10)}>
        <span class="reviews__icon">
          <img src="./assets/icons/inlove-emoji.svg" alt="">
        </span>
        <span class="reviews__link">
          Да, всё понравилось!
        </span>
        <svg class="reviews__arrow" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use class="mobile" xlink:href="./assets/icons/arrow.svg#right"></use>
            <use class="desktop" xlink:href="./assets/icons/arrow.svg#right_l"></use>
        </svg>
    </div>
</div>

<style lang="stylus">
    @import '../helpers/styles'

    .reviews
        width 100%
        max-width 256px
        margin 0 auto

        +above(1024px)
            max-width 512px

        &__item
            display flex
            align-items center
            justify-content space-between
            height 48px
            border-radius 4px
            background #f2f2f2
            padding 0 16px
            cursor: pointer

            +above(1024px)
                height 64px

            &:hover
                text-decoration none

            & + &
                margin-top 16px

        &__icon
            img
                width 16px
                height 16px

                +above(1024px)
                    width 24px
                    height 24px


        &__link
            margin-left 16px
            font-style normal
            font-weight: bold
            font-size: 14px
            line-height 24px
            color $black

            +above(1024px)
                font-size: 20px
                margin-left 24px

        &__arrow
            margin-left auto
            width 11px
            height 12px
            color $black

            +above(1024px)
                width: 17px
                height: 16px
</style>
