<div class="scores__section">
    <div class="scores__message">
        <div class="scores__title">
            Благодарим<br> за&nbsp;комментарий!
        </div>
        <p class="scores__text">Будем рады<br>увидеть вас снова!</p>
    </div>
</div>

<style lang="stylus">
    @import '../helpers/styles'

    .scores__section
        +above(1024px)
            padding-top: 100px

</style>
