<script>
    import {nextStep} from '../store';

    function onClick(value) {
        nextStep(3);
    }
</script>

<div class="scores__title">
    Напишете отзыв<br>о Гемотест?
</div>
<p class="scores__text">
    Будем очень благодарны<br>за ваш отзыв на любом из сайтов
</p>
<div class="reviews">
    <div class="reviews__item yandex">
    <span class="reviews__icon">
      <img src="./assets/icons/icon-yandex-map.svg" alt="">
    </span>
        <span class="reviews__link">
      Отзыв на Яндекс
    </span>
        <svg class="reviews__arrow" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use class="mobile" xlink:href="./assets/icons/arrow.svg#right"></use>
            <use class="desktop" xlink:href="./assets/icons/arrow.svg#right_l"></use>
        </svg>
    </div>
    <div class="reviews__item google">
    <span class="reviews__icon">
      <img src="./assets/icons/icon-google.svg" alt="">
    </span>
        <span class="reviews__link">
      Отзыв в Google
    </span>
        <svg class="reviews__arrow" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use class="mobile" xlink:href="./assets/icons/arrow.svg#right"></use>
            <use class="desktop" xlink:href="./assets/icons/arrow.svg#right_l"></use>
        </svg>
    </div>
    <div on:click={() => onClick('2gis')} class="reviews__item gis">
    <span class="reviews__icon">
      <img src="./assets/icons/icon-2gis.svg" alt="">
    </span>
        <span class="reviews__link">
      Отзыв на 2GIS
    </span>
        <svg class="reviews__arrow" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use class="mobile" xlink:href="./assets/icons/arrow.svg#right"></use>
            <use class="desktop" xlink:href="./assets/icons/arrow.svg#right_l"></use>
        </svg>
    </div>
</div>

<style lang="stylus">
    @import '../helpers/styles'

    .reviews
        width 100%
        max-width 256px
        margin 0 auto

        +above(1024px)
            max-width 512px

        &__item
            display flex
            align-items center
            justify-content space-between
            height 48px
            border-radius 4px
            background #f2f2f2
            padding 0 16px
            cursor: pointer

            +above(1024px)
                height 64px

            &:hover
                text-decoration none

            &.gis
                background rgba(#94D419, 16%)

                ^[0]__icon img
                    color #94D419

            &.google
                background rgba(#4285F4, 13%)

                ^[0]__icon img
                    color #4285F4

            &.yandex
                background rgba(#f33, 10%)

                ^[0]__icon img
                    color #f33

            & + &
                margin-top 16px

        &__icon
            img
                width 16px
                height 16px

                +above(1024px)
                    width 24px
                    height 24px


        &__link
            margin-left 16px
            font-style normal
            font-weight: bold
            font-size: 14px
            line-height 24px
            color $black

            +above(1024px)
                font-size: 20px
                margin-left 24px

        &__arrow
            margin-left auto
            width 11px
            height 12px
            color $black

            +above(1024px)
                width: 17px
                height: 16px

</style>
