*,
*::before,
*::after{box-sizing:border-box;}
:focus{outline: 0;}
a{text-decoration:none; color:inherit; cursor:pointer;background-color: transparent;}
button{background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer;}
figure{margin:0;}
input::-moz-focus-inner {border:0; padding:0; margin:0;}
ul, ol, dd{margin:0; padding:0; list-style:none;}
h1, h2, h3, h4, h5, h6{margin:0; font-size:inherit; font-weight:inherit;}
p{margin:0;padding: 0;}
cite {font-style:normal;}
fieldset{border-width:0; padding:0; margin:0;}

html {
	height: 100%;
	line-height: 1;
	-webkit-text-size-adjust: 100%;
}

body {
	height: 100%;
	margin: 0;
	background: #fff;
	color: #3C3C3C;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	-moz-text-size-adjust:100%;
	text-size-adjust:100%;
}

#sapper {
	height: 100%;
}

main {
	display: block;
	height: 100%;
}

h1 {
	margin: 0;
}

hr {
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: bold;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
}

img {
	display: block;
	border-style: none;
}

button,
input,
optgroup,
select,
textarea {
	border: 0;
	padding: 0;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: 0;
}

legend {
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type="text"] {
	overflow: auto;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

[type="checkbox"],
[type="radio"] {
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details {
	display: block;
}

summary {
	display: list-item;
}

template {
	display: none;
}

[hidden] {
	display: none;
}
